<li>
	{{burger_name}}

	<button class="change-status btn-success ml-2" data-id="{{ID}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat Me{{/if}}
	</button>

	<button class="delete-burger btn-danger" data-id="{{this.ID}}">
		X
	</button>
</li>
